.projectDetails{
    box-sizing: border-box;
    margin: 0;
    background-color: #640d0d;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    padding: 1.25rem;
    color: #ffbd59;
    cursor: default;
 

    &__name{
        font-weight: 800;
        font-size: 1.25rem;
        margin-top: 2.5rem;
    }

    &__description{
        font-family: "Open Sans", serif;
        font-size: .9375rem;
    }

    &__tecnologies{
        display: flex;
        align-items: center;
        gap: .625rem;
        align-self: start;

        &--label{
            font-weight: 700;
            font-size: 1.125rem;
        }

        &--content{
            font-family: "Open Sans", serif;
            font-size: .9375rem;
        }
    }

    &__github{
        display: flex;
        align-items: center;
        gap: .625rem;
        align-self: start;

        &--label{
            font-weight: 700;
            font-size: 1.125rem;
        }
        &--content{
            font-family: "Open Sans", serif;
            font-size: .9375rem;
        }
    }
}

@media (max-width: 500px){
    .projectDetails{
        width: 23.75rem;
    }
}